@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Usuários Disponíveis</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text"> @ViewData["qtd"] </p>
        <a asp-action="index" asp-controller="usuario" class="card-link">Lista de usuários</a>
        <a asp-action="cadastrar" asp-controller="usuario" class="card-link">Cadastrar</a>
    </div>
</div>
